ClientTest/src/conf/xml-resources/web-service-references/Bank/wsdl/localhost_8080/Server/Bank.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://atm.netcracker.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://atm.netcracker.com/" name="Bank">
<types>
<xsd:schema>
<xsd:import namespace="http://atm.netcracker.com/" schemaLocation="http://localhost:8080/Server/Bank?xsd=1"/>
</xsd:schema>
</types>
<message name="getCardByCardNumber">
<part name="parameters" element="tns:getCardByCardNumber"/>
</message>
<message name="getCardByCardNumberResponse">
<part name="parameters" element="tns:getCardByCardNumberResponse"/>
</message>
<message name="ArgumentException">
<part name="fault" element="tns:ArgumentException"/>
</message>
<message name="getAllCompanies">
<part name="parameters" element="tns:getAllCompanies"/>
</message>
<message name="getAllCompaniesResponse">
<part name="parameters" element="tns:getAllCompaniesResponse"/>
</message>
<message name="payForService">
<part name="parameters" element="tns:payForService"/>
</message>
<message name="payForServiceResponse">
<part name="parameters" element="tns:payForServiceResponse"/>
</message>
<message name="getCurrentBalance">
<part name="parameters" element="tns:getCurrentBalance"/>
</message>
<message name="getCurrentBalanceResponse">
<part name="parameters" element="tns:getCurrentBalanceResponse"/>
</message>
<message name="checkDate">
<part name="parameters" element="tns:checkDate"/>
</message>
<message name="checkDateResponse">
<part name="parameters" element="tns:checkDateResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="checkPin">
<part name="parameters" element="tns:checkPin"/>
</message>
<message name="checkPinResponse">
<part name="parameters" element="tns:checkPinResponse"/>
</message>
<message name="deposite">
<part name="parameters" element="tns:deposite"/>
</message>
<message name="depositeResponse">
<part name="parameters" element="tns:depositeResponse"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"/>
</message>
<portType name="Bank">
<operation name="getCardByCardNumber">
<input wsam:Action="http://atm.netcracker.com/Bank/getCardByCardNumberRequest" message="tns:getCardByCardNumber"/>
<output wsam:Action="http://atm.netcracker.com/Bank/getCardByCardNumberResponse" message="tns:getCardByCardNumberResponse"/>
<fault message="tns:ArgumentException" name="ArgumentException" wsam:Action="http://atm.netcracker.com/Bank/getCardByCardNumber/Fault/ArgumentException"/>
</operation>
<operation name="getAllCompanies">
<input wsam:Action="http://atm.netcracker.com/Bank/getAllCompaniesRequest" message="tns:getAllCompanies"/>
<output wsam:Action="http://atm.netcracker.com/Bank/getAllCompaniesResponse" message="tns:getAllCompaniesResponse"/>
</operation>
<operation name="payForService">
<input wsam:Action="http://atm.netcracker.com/Bank/payForServiceRequest" message="tns:payForService"/>
<output wsam:Action="http://atm.netcracker.com/Bank/payForServiceResponse" message="tns:payForServiceResponse"/>
</operation>
<operation name="getCurrentBalance">
<input wsam:Action="http://atm.netcracker.com/Bank/getCurrentBalanceRequest" message="tns:getCurrentBalance"/>
<output wsam:Action="http://atm.netcracker.com/Bank/getCurrentBalanceResponse" message="tns:getCurrentBalanceResponse"/>
</operation>
<operation name="checkDate">
<input wsam:Action="http://atm.netcracker.com/Bank/checkDateRequest" message="tns:checkDate"/>
<output wsam:Action="http://atm.netcracker.com/Bank/checkDateResponse" message="tns:checkDateResponse"/>
<fault message="tns:ArgumentException" name="ArgumentException" wsam:Action="http://atm.netcracker.com/Bank/checkDate/Fault/ArgumentException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://atm.netcracker.com/Bank/helloRequest" message="tns:hello"/>
<output wsam:Action="http://atm.netcracker.com/Bank/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="checkPin">
<input wsam:Action="http://atm.netcracker.com/Bank/checkPinRequest" message="tns:checkPin"/>
<output wsam:Action="http://atm.netcracker.com/Bank/checkPinResponse" message="tns:checkPinResponse"/>
</operation>
<operation name="deposite">
<input wsam:Action="http://atm.netcracker.com/Bank/depositeRequest" message="tns:deposite"/>
<output wsam:Action="http://atm.netcracker.com/Bank/depositeResponse" message="tns:depositeResponse"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://atm.netcracker.com/Bank/withdrawRequest" message="tns:withdraw"/>
<output wsam:Action="http://atm.netcracker.com/Bank/withdrawResponse" message="tns:withdrawResponse"/>
</operation>
</portType>
<binding name="BankPortBinding" type="tns:Bank">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCardByCardNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArgumentException">
<soap:fault name="ArgumentException" use="literal"/>
</fault>
</operation>
<operation name="getAllCompanies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payForService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ArgumentException">
<soap:fault name="ArgumentException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Bank">
<port name="BankPort" binding="tns:BankPortBinding">
<soap:address location="http://localhost:8080/Server/Bank"/>
</port>
</service>
</definitions>